{% extends 'base.html.twig' %}

{% block body %}
    <div align="left" class="article-content">
        {% block emailContent %}
        {% endblock %}
        <p>
            Thank you for flying with Flyaround.
        </p>
    </div>
{% endblock %}
