{% extends 'email/contact.html.twig' %}

{% block body %}
    <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">Booking notification {{ reservation.flight }}</h2>

    <div align="left" class="article-content">
        <p>You have a new customer flying with Flyaround!</p>
        <p>{{ reservation.nbReservedSeats }} seat(s) have been booked.</p>
        <p>Flight details: {{ reservation.flight }}.</p>
    </div>
{% endblock %}

