{# app/Resources/views/default/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Be patient, a new form is on its way!</h1>

    <ul>
        <li>
            <a href="/">Return to homepage</a>
        </li>
    </ul>

{% endblock %}